[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/x3ero0/Desktop/net.lutris.epic-games-store-1.desktop]
row=4
col=0

[/home/x3ero0/Desktop/linuxmint-20.3-cinnamon-64bit.iso.torrent]
row=5
col=0

[424c43cc-3818-4c2d-b72d-a13c7eff5596]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/x3ero0]
row=1
col=0

