[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/x3ero0/Desktop/Untitled 1_html_246c0f12.gif]
row=5
col=0

[/home/x3ero0/Desktop/Pulkit 1.pdf]
row=5
col=1

[/home/x3ero0/Desktop/2018UEC2024.pdf]
row=4
col=1

[/home/x3ero0/Desktop/Untitled 1.html]
row=6
col=0

[/home/x3ero0/Desktop/Screenshot_from_2021-08-19_20-23-25.png]
row=6
col=1

[/home/x3ero0/Desktop/pdftoimage.zip]
row=0
col=1

[/home/x3ero0/Desktop/Untitled 1.doc]
row=4
col=0

[/home/x3ero0/Desktop/untitled.png]
row=2
col=1

[/home/x3ero0/Desktop/Pulkit 1]
row=1
col=1

[/home/x3ero0/Desktop/remove_me]
row=3
col=1

[424c43cc-3818-4c2d-b72d-a13c7eff5596]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/x3ero0]
row=3
col=0

